.App {
  text-align: center;
}

.navbar-dark .btn {
  margin: 0px 10px;
}

.navbar-brand>a,.navbar-brand>a:active,.navbar-brand>a:visited{
  color: white;
  text-decoration: none;
}

.home-screen{
  min-height: 100vh;
  padding: 80px 10px;
  margin: 10px 0px;
    width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card-wrapper{
  /* background: black; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin: 15px 10px;
}

.admin-btn-holder{
  padding: 2px;
  display: flex;
}

.admin-btn-holder>button{
  margin: 5px;
}

.card{
  /* width: 290px; */
  transition: ease 0.3s;
  
  width: 350px;
    height: 230px;
    border: none;
}

.cardTitle{
  width: 90%;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover{
  cursor: pointer;
  overflow: hidden;
}

.card> img{
  position: relative;
  height: 100%;
}

.card > .card-img-overlay{
  text-align: left;
  padding: 10px;
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
  background: linear-gradient(
181deg, #00000082, transparent)
}

.card > .card-img-overlay> div,p{
  margin: 0px;
}

.card> .custom-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0000006e;
    opacity: 0;
}

.card> .custom-overlay:hover {
  opacity: 1;
  transition: ease 0.5s;
}


.screen-page{
  padding: 80px 10px;
  margin: 10px 0px;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-page> .adpost-area{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.screen-page> .login{
  width: 30%;
}

.lgn-btn-holder>button{
  margin-right: 10px;
}

.screen-page> .admin{
  width: 90%;
}

.admin>.profile-head{
  width: 100%;
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.admin> span{
  width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    
}

.your-post{
  margin-top: 10px;
    background: #e9ecef;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

.admin> .my-post{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
    height: auto;

}

.modal>.modal-dialog{
max-width: 50%;
}

.loading-screen{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bi-camera{
  transform: translateY(-10%);
  animation: floater 1s infinite;
  transition: ease 0.5s;
}

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}

@media only screen and (max-width: 600px) {
    .modal>.modal-dialog{max-width: 100%;}
    .screen-page> .login{width: 80%;}
    .screen-page> .adpost-area{width: 90%;}
}